{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock title %}</title>
    {% block stylesheets %}
    <link href="{% static 'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap4/css/font-awesome.min.css' %}" rel="stylesheet">
    {% endblock stylesheets %}

    {% block scripts %}
    <script src="{% static 'bootstrap4/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap4/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap4/js/bootstrap.min.js' %}"></script>
    {% endblock scripts %}



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="{% block page_id %}{% endblock page_id %}" class="{% block body_class %}{% endblock body_class %}" {% block body_attrs %}{% endblock body_attrs %}>
    {% block body %}
    {% block navbar %}
    <header>
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'todo-list' %}">Todo List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </header>


    {% endblock navbar %}



    <main role="main" class="pt-4">
      <div class="container">
        {% block content %}{% endblock content %}
      </div> <!-- /container -->
    </main>


    {% endblock body %}
  </body>
</html>
