env
virtualenv
settings_local.py

.DS_Store
*.db
*.sqlite3
*.pyc
__pycache__
._*

settings*_*local.py
/mail

bower_components
node_modules

virtualenv
/*virtualenv*
/*env*
venv
env

!public/
public/*

!public/static/
public/static/*

!public/media/
public/media/*
public/media
!/public/media/media/.gitkeep
public/static
!/public/static/.gitkeep
virtualenv
*.swp
*.bat
