{% load cms %}

{% block update_partial %}

<form  method="post" action="{{model|url_update:form.instance.pk}}" class="js-{{model|model_name_lower}}-update-form" novalidate>
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Update {{form.instance}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
    {% include 'cms/ajax/form_partial.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Update {{form.instance}}</button>
  </div>
</form>


{% endblock update_partial %}
