{% load cms %}

<form  method="post" action="{% get_url 'delete' object %}" class="js-save-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Confirm {{object}} deletion</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete : <strong>{{ object }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete {{object}}</button>
  </div>
</form>
