<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      {% url 'todo:todo-list' as todo_url %}
    <a class="navbar-brand" href="{% url 'todo:todo-list' %}">Todo Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item {% if request.path == todo_url %}active {% endif %}">
          <a class="nav-link" href="{{todo_url}}">Todo List <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
