{% load cms %}

{% block delete_partial %}
  <form  method="post" action="{% create_object_url object 'delete' %}" class="js-save-form">
    {% csrf_token %}
    <div class="modal-header">
      <h4 class="modal-title">Confirm {{object}} deletion</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="lead">Are you sure you want to delete : <strong>{{ object }}</strong>?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-danger">Delete {{object}}</button>
    </div>
  </form>
{% endblock delete_partial %}
